.resetPassword {
  padding-top: 80px;
}

.resetPassword_row {
  margin: 60px auto;
  max-width: 388px;
  border: 1px solid #dbdbdb;
  text-align: center;
  border-radius: 4px;
}
.resetPassword__main {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.resetPassword__Imgbox {
  margin-top: 24px;
  margin-bottom: 16px;
  text-align: center;
}
.coreSpriteLockSmall {
  display: inline-block;
  width: 96px;
  height: 96px;
  background-repeat: no-repeat;
  background-position: -129px 0;
  background-size: 440px 411px;
  background-image: url("https://www.instagram.com/static/bundles/es6/sprite_core_2x_bcd90c1d4868.png/bcd90c1d4868.png");
}
.resetPassword__title {
  text-align: center;
  display: block;
  font-weight: 600;
  color: #262626;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
.resetPassword__content {
  margin: 0 auto;
  display: block;
  font-weight: 400;
  color: #8e8e8e;
  max-width: 300px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 16px;
  padding: 4px;
  text-align: center;
}
.resetPassword__text {
  width: 290px;
  height: 36px;
  margin: 5px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  padding-left: 10px;
  border-radius: 5px;
  margin-bottom: 16px;
}
.resetPassword__button {
  width: 290px;
  height: 30px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 5px;
  border: 1px solid #0395f6;
  background-color: #0395f6;
  color: white;
  cursor: pointer;
  margin-bottom: 16px;
}

.resetPassword__ordiv {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  font-size: 12px;
  margin-bottom: 16px;
}
.resetPassword___dividor {
  width: 125px;
  height: 0px;
  margin-top: 6px;
  border: 1px solid #dbdbdb;
}
.resetPassword_NewAccoun {
  color: #262626;
  display: inline-block;
  padding: 0;
  position: relative;
  font-weight: 700;
  margin-bottom: 16px;
}
.resetPassword_BackToLogin {
  margin-top: 68px;
}
.resetPassword_BackToLogin_button {
  display: block;
  height: 44px;
  line-height: 48px;
  background-color: #eee;
}
