.info_container {
  width: 300px;
  margin-top: 30px;
  display: flex;
}
.info_imageBox {
  width: 60px;
  border-radius: 50%;
  border: 1px solid #eee;
  position: relative;
  overflow: hidden;
}

.info_content {
  width: 100%;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info_username {
  margin: 5px;
  font-weight: bold;
  width: 80px;
}
.info_logut {
  font-weight: bold;
  margin: 5px;
  padding: 8px 0px;
  cursor: pointer;
  color: #0095f6;
  font-size: 13px;
}
